:root {
    --primary-bg-color: #121212;
    --primary-text-color: #E0E0E0;
    --secondary-text-color: #B0B0B0;
    --borders: #444444;
    --accent: #888888;
    --warn-text: red;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--primary-text-color);
    background-color: var(--primary-bg-color);
}

#contacth1 {
    color: var(--primary-text-color);
    display: flex;
    justify-content: center;
}

#input {
    box-shadow: 2px 4px 4px gray;
}

input:hover {
    border: solid 1px blue;
    border-color: blue
}

#submitBtn {
    cursor: pointer;
    border: 2px solid var(--borders);
    border-radius: 10px;
    box-shadow: 1px 2px 2px gray;
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    padding: 10px;
    margin: 10px;
}

#submitBtn:hover {
    transition: 0.25s ease-in-out;
    background-color: blue;
    color: white;
}

.dataItem {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px var(--borders);
}
#dataColumnLabels{
    border: solid 5px var(--borders);
    box-shadow: 2px 4px 4px gray;
    border-radius: 5px;
    background-color: var(--primary-bg-color);
    color: var(--secondary-text-color);
    margin: 10px;
}

.dataCol {
    display: inline-block;
    justify-content: space-around;
    align-items: left;
    text-align: left;
    width: 20%;
    height: 100%;
    margin: 10px;
    padding: 10px;
    width: 20%;
}

#input {
    border: solid 4px var(--borders);
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    display: block;
    justify-content: center;
    align-items: center;
}

.inputBox {
    display: inline-block;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    background-color: var(--primary-bg-color);
    color: var(--primary-text-colorvc)
}

.warnText {
    color: var(--warn-text);
    font-style: italic;
    font-size: 12px;
}

.inputBox {
    border-radius: 5px;
}